h1 a {
    color: #FCA205;
}
body {
    padding-left: 30px;
}
caption {
    caption-side: top;
}
.left-menu {
    float: left;
    width: 20%;
}
.page-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gray;
    text-align: center;
}