{%  load staticfiles  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coins</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{%  static 'css/coins.css' %}">
</head>
<body>
    <div class="page-header">
        <h1 align="center"><a href="/">Coins web-site</a></h1>
    </div>
    <div class="left-menu">
        <ul>
            <li><a href="">List coins</a></li>
            <li><a href="">Upgrade list coins</a></li>
            <li><a href="https://ethermine.org/miners/97b4f38e3140caf6131a955196b66d25c3cf4161">Check poloniex worker</a></li>
        </ul>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="page-footer">
        <h3>Copyright mmv</h3>
    </div>
</body>
</html>